#whos-online {
	color: dark-light-choose(scale-color($primary, $lightness: 50%), scale-color($secondary, $lightness: 50%));
	padding-left: 5px;

	a{
    	transition: margin-right 1s, margin-left 1s, opacity 0.5s;
    	opacity:1;
    	&.is-hidden{
    		opacity:0;
    	}
    }

	&.collapsed{

		a{
			margin-right: -15px;
			margin-left: 0px;
		}

    	&:hover a{	    	
    		margin-left: 0px;
    		
    		margin-right: 0px;
    		
    		&:first-of-type{
    			margin-left: 0px;
	    	}
	    	&:last-of-type{
	    		margin-right: 0px;
	    	}
    	}

	}

}


html.whos-online-glow {
  #user-card.user-online .user-card-avatar img.avatar
  {
    box-shadow: 0 0 8px 3px lighten($success, 30%);
  }

  .topic-avatar.user-online img.avatar{
    box-shadow: 0 0 4px 1px lighten($success, 30%);
  }

  .topic-map .avatars .user-online img.avatar{
   box-shadow: 0 0 2px 1px lighten($success, 30%);   
  }

  &.mobile-view .topic-list-item.last-poster-online img.avatar{
    box-shadow: 0 0 4px 1px lighten($success, 30%);
  }

  .latest-topic-list .latest-topic-list-item.last-poster-online img.avatar{
    box-shadow: 0 0 4px 1px lighten($success, 30%);
  }

  body.user-page-online .primary img.avatar{
    box-shadow: 0 0 8px 3px lighten($success, 30%);
    margin: 8px; 
  }

  body.user-page-online .collapsed-info .primary img.avatar{
    box-shadow: 0 0 4px 1px lighten($success, 30%);
    margin: 5px; 
  }
}

html.whos-online-ring {
  #user-card.user-online .user-card-avatar img.avatar
  {
    box-shadow: 0 0 0 2px $secondary, 0 0 0 5px lighten($success, 30%);
    
  }

  .topic-avatar.user-online img.avatar{
    box-shadow: 0 0 0 1px $secondary, 0 0 0 3px lighten($success, 30%);
  }

  .topic-map .avatars .user-online img.avatar{
   box-shadow: 0 0 0 1px $secondary, 0 0 0 2px lighten($success, 30%);   
  }

  &.mobile-view .topic-list-item.last-poster-online img.avatar{
    box-shadow: 0 0 0 1px $secondary, 0 0 0 3px lighten($success, 30%);
  }

  .latest-topic-list .latest-topic-list-item.last-poster-online img.avatar{
    box-shadow: 0 0 0 1px $secondary, 0 0 0 3px lighten($success, 30%);
  }

  body.user-page-online .primary img.avatar{
    box-shadow: 0 0 0 2px $secondary, 0 0 0 5px lighten($success, 30%);
    margin: 8px;
  }

  body.user-page-online .collapsed-info .primary img.avatar{
    box-shadow: 0 0 0 1px $secondary, 0 0 0 3px lighten($success, 30%);
    margin: 5px; 
  }
}

.whos-online-flair-prototype{
  display: block;
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $success;
  border: 2px solid $secondary;
}

html.whos-online-flair {
  #user-card.user-online .user-card-avatar::before {
    @extend .whos-online-flair-prototype;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
  }

  .topic-avatar.user-online::before {
    @extend .whos-online-flair-prototype;
    top: 13px;
    left: 1px;
    height: 10px;
    width: 10px;
  }

  &.mobile-view .topic-avatar.user-online::before {
    top: 3px;
  }

  .topic-map .avatars div{ // Add some spacing to the avatars
    margin-left: 5px;
  }
  .topic-map .avatars .user-online::before{
    @extend .whos-online-flair-prototype;
    top: -1px;
    left: -1px;
    height: 7px;
    width: 7px;
  }

  &.mobile-view .topic-list-item.last-poster-online div.pull-left{
    position: relative;
  }
  &.mobile-view .topic-list-item.last-poster-online div.pull-left::before{
    @extend .whos-online-flair-prototype;
    top: -1px;
    left: -1px;
    height: 10px;
    width: 10px;
  }

  .latest-topic-list .latest-topic-list-item.last-poster-online .topic-poster{
    position: relative;
  }
  .latest-topic-list .latest-topic-list-item.last-poster-online .topic-poster::before{
    @extend .whos-online-flair-prototype;
    top: -1px;
    left: -1px;
    height: 10px;
    width: 10px;
  }

  body.user-page-online .primary::before{
    @extend .whos-online-flair-prototype;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    transition: all .1s linear;
  }

  body.user-page-online .collapsed-info .primary::before{
    @extend .whos-online-flair-prototype;
    top: -1px;
    left: -1px;
    height: 10px;
    width: 10px;
  }

}
