#whos-online {
	color: dark-light-choose(scale-color($primary, $lightness: 50%), scale-color($secondary, $lightness: 50%));
	padding-left: 5px;

    img{
        box-shadow: 0 0 2px 1px lighten($success, 30%);
    }

	a{
    	transition: margin-right 1s, margin-left 1s, opacity 0.5s;
    	opacity:1;
    	&.is-hidden{
    		opacity:0;
    	}
    }

	&.collapsed{

		a{
			margin-right: -15px;
			margin-left: 0px;
		}

    	&:hover a{	    	
    		margin-left: 0px;
    		
    		margin-right: 0px;
    		
    		&:first-of-type{
    			margin-left: 0px;
	    	}
	    	&:last-of-type{
	    		margin-right: 0px;
	    	}
    	}

	}

}

/* Online Glow */
#user-card.user-online .user-card-avatar img.avatar
{
  box-shadow: 0 0 8px 3px lighten($success, 30%);
}

.topic-avatar.user-online img.avatar{
  box-shadow: 0 0 5px 2px lighten($success, 30%);
}

.topic-map .avatars .user-online img.avatar{
 box-shadow: 0 0 2px 1px lighten($success, 30%);   
}

.mobile-view .topic-list-item.last-poster-online img.avatar{
  box-shadow: 0 0 4px 1px lighten($success, 30%);
}

.latest-topic-list .latest-topic-list-item.last-poster-online img.avatar{
  box-shadow: 0 0 4px 1px lighten($success, 30%);
}

#current-user.user-online img.avatar{
 box-shadow: 0 0 4px 1px lighten($success, 30%);   
}
