#whos-online {
	color: dark-light-choose(scale-color($primary, $lightness: 50%), scale-color($secondary, $lightness: 50%));
	padding-left: 5px;

	a{
    	transition: margin-right 1s, margin-left 1s, opacity 0.5s;
    	opacity:1;
    	&.is-hidden{
    		opacity:0;
    	}
    }

	&.collapsed{

		a{
			margin-right: -15px;
			margin-left: 0px;
		}

    	&:hover a{	    	
    		margin-left: 0px;
    		
    		margin-right: 0px;
    		
    		&:first-of-type{
    			margin-left: 0px;
	    	}
	    	&:last-of-type{
	    		margin-right: 0px;
	    	}
    	}

	}

}

.topic-avatar .online-indicator.status-offline{
    opacity: 0;
}

.topic-avatar .online-indicator {
    display: block;
    position: absolute;
    top: 13px;
    left: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: $success;
    border: 2px solid $secondary;

    opacity: 1;
    transition: opacity 1s;
}

.topic-map .avatars div{
    &:first-child{
      margin-left: 0px;
    }
    margin-left: 5px;
}

.topic-map .avatars .online-indicator.status-offline {
    opacity: 0;
}

.topic-map .avatars .online-indicator{
    display: block;
    position: absolute;
    top: 0px;
    left: -5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;

    background-color: $success;
    border: 1px solid $secondary;

    opacity: 1;
    transition: opacity 1s;
}